# Ignore these files 

*.gignore

# emacs backups
*~

# build output
*.[oa]

# dylib
*.dylib

# mac stuff
.DS_Store

# python cruft
*.pyc

# executables
libCoords/angle_unittest
libCoords/Cartesian_unittest
libCoords/datetime_unittest
libCoords/spherical_unittest

libCoords/example1
libCoords/mepsilon
libCoords/regex_test

# Boost
Python/Boost/build

# Manual
Python/Manual/build

# SWIG
_coords.so
coords.py
coords_wrap.cxx

# Notes
Notes
