# Ignore these files 

*.gignore

# emacs backups
*~

# build output
*.[oa]

# dylib
*.dylib

# mac stuff
.DS_Store

# python cruft
*.pyc

# executables
libCoords/angle_unittest
libCoords/cartesian_unittest
libCoords/spherical_unittest

